body{
  width: 100vw;
}

*{
  font-family: 'Slabo 27px', serif;
}

p{
  margin: 10px 30px;
  text-align: center;
}

h3{
  text-align: center;
  margin-bottom: 20px;
}

div[class^='row'] div{
  width: 100px;
  height: 100px;
  border-radius: 20px;
  background-color: grey;
  border: 1px solid white;
}



div[class^='row']{
  display: flex;
  margin: 0 auto;
}

div[class^='row'] .col-0:hover{
  background-color: white;
  border: 1px solid grey;
}


header{
  border-bottom: 1px solid black;
  margin-bottom: 30px;
}

h1{
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
}

main{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}

.gameboard{
  width: 50%;
  min-width: 300px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
}

.instructions{
  width: 50%;
  min-width: 300px;
  margin-bottom: 30px;
}

div[class^='row'] .col-X{
  background-image: url('http://images.landofnod.com/is/image/LandOfNod/Letter_Giant_Enough_X_236462_LL/$web_zoom$&wid=550&hei=550&/1308310656/not-giant-enough-letter-x.jpg');
  background-size: contain;
}

div[class^='row'] .col-O{
  background-image: url('http://images.landofnod.com/is/image/LandOfNod/Letter_Giant_Enough_O_232343_LL/$web_zoom$&wid=550&hei=550&/1308310656/not-giant-enough-letter-o.jpg');
  background-size: contain;
}
